.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  margin-top: 36px;
  align-items: center;
}

@media (max-width: 1024px) {
    .banner-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.video-iframe {
    justify-self: center;
    align-self: center;
}

.banner-heading {
  color: #3c4257;
  font-size: 28px;
  font-weight: 500;
}

.banner-heading:hover {
  text-decoration: underline;
}

.banner-description {
  color: #3c4257;
  font-size: 18px;
  padding-bottom: 14px;
}

.banner-container .tab-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 14px;
  border-top: 1px solid rgba(41, 41, 41, 0.1);
}

.banner-container .tab-container .tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  border: 1px solid #d6d8df;
  background-color: white;
  padding: 10px 0;
  border-radius: 100px;
  color: #5c6181;
  font-weight: 500;
}

.banner-icon {
  width: 20px;
  height: 20px;
}
